:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --PaleGreen: hsl(96, 75%, 89%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --BgColor: hsl(220, 10%, 94%);
  --GrayText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  /* Font and typography */
  --BiggestFontSize: 2.4rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --NormallFontSize: 0.938rem;
  --SmallFontSize: 0.813rem;
  --SmallestFontSize: 0.75rem;
}

.listingSection {
  flex-basis: 70%;
}
.listingSection .heading {
  width: 100%;
  justify-content: space-between;
}
.listingSection .heading h1 {
  font-size: var(--h2FontSize);
  color: var(--BlackColor);
  font-weight: 700;
}
.listingSection .heading .btn {
  border: 1px solid transparent;
  font-weight: 500;
}
.listingSection .heading .btn:hover {
  border: 1px solid var(--PrimaryColor);
}
.listingSection .secContainer {
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listingSection .secContainer .singleItem {
  position: relative;
  width: 150px;
  height: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background: var(--itemCardColor);
}
.listingSection .secContainer .singleItem:hover {
  background: var(--itemCardHover);
  box-shadow: 0 2px 2px var(--InputColor);
}
.listingSection .secContainer .singleItem img {
  max-width: 100px;
}
.listingSection .secContainer .singleItem .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--PrimaryColor);
}
.listingSection .sellers {
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}
.listingSection .sellers .topSellers .heading,
.listingSection .sellers .featuredSellers .heading {
  padding: 1rem 0;
}
.listingSection .sellers .topSellers .heading .btn,
.listingSection .sellers .featuredSellers .heading .btn {
  padding: 0.5rem 1rem;
}
.listingSection .sellers .topSellers .card,
.listingSection .sellers .featuredSellers .card {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: var(--WhiteColor);
  gap: 1rem;
  box-shadow: 0 2px 4 px var(--InputColor);
}
.listingSection .sellers .topSellers .card .users,
.listingSection .sellers .featuredSellers .card .users {
  padding-right: 1rem;
  border-right: 2px solid var(--GrayText);
}
.listingSection .sellers .topSellers .card .users img,
.listingSection .sellers .featuredSellers .card .users img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--InputColor);
  transition: 0.5s ease;
}
.listingSection .sellers .topSellers .card .users img:hover,
.listingSection .sellers .featuredSellers .card .users img:hover {
  transform: translateY(-10px);
}
.listingSection .sellers .topSellers .card .cardText span,
.listingSection .sellers .featuredSellers .card .cardText span {
  color: var(--BlackColor);
  font-weight: 500;
}
.listingSection .sellers .topSellers .card .cardText span small,
.listingSection .sellers .featuredSellers .card .cardText span small {
  font-weight: 400;
}
.listingSection .sellers .topSellers .card .cardText span small .date,
.listingSection .sellers .featuredSellers .card .cardText span small .date {
  margin-left: 1rem;
}/*# sourceMappingURL=Listing.css.map */